[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.3.3"
scikit-learn = "==1.5.2"
pandas = "==2.2.2"
vercel = "*"

[dev-packages]

[requires]
python_version = "3.12"
